QMainWindow, XQEOutput, QMessageBox, XmlEditor
{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgba(42, 59, 93, 255), stop:1 rgba(0, 0, 0, 255));
}

XQEdit
{
	font: 12px Menlo;
}

QLabel, TextEditMetaBorder
{
	color: rgb(204, 204, 204);
}

QLineEdit
{
    border-style: outset;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
}

QComboBox {
     border: 1px solid gray;
     border-radius: 3px;
     padding: 1px 18px 1px 3px;
     min-width: 6em;
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 1px;
     border-left-color: gray;
     border-left-style: solid;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
 }

QToolBar
{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgba(230, 230, 230, 255), stop:1 rgba(128, 128, 128, 255));
} 

QPushButton
{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgba(230, 230, 230, 255), stop:1 rgba(128, 128, 128, 255));
	border-style: outset;
	border-width: 2px;
	border-color: gray;
	min-width: 60px;
	min-height: 20px;
}

QAbstractButton:pressed, QToolButton:checked
{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgba(128, 128, 128, 255), stop:1 rgba(200, 200, 200, 255));
}

QMessageBox
{
    messagebox-question-icon: url(:/question.png);
}