QMainWindow, QDialog, QMessageBox
{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgba(42, 59, 93, 255), stop:1 rgba(0, 0, 0, 255));
}

XQEdit
{
	font: 12px Menlo;
}

QLabel, TextEditMetaBorder
{
	color: rgb(204, 204, 204);
}

QLineEdit
{
    border-style: outset;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
}

QMessageBox
{
    messagebox-question-icon: url(:/question.png);
}