QPlainTextEdit
{
    font: 12px Menlo;
}

QMainWindow, XQEOutput, QMessageBox
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgb(42, 59, 93), stop:1 rgb(0, 0, 0));
}

QToolBar
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgb(230, 230, 230), stop:1 rgb(128, 128, 128));
    spacing: 3;
}

QLabel, TextEditMetaBorder
{
    color: rgb(204, 204, 204);
}

QAbstractButton#btnClose
{
    border-style: none;
    border-image: url(:/close.png) 0 0 0 0;
    color: grey;
}

QAbstractButton#btnClose:pressed
{
    border-image: url(:/close_pressed.png) 0 0 0 0;
}

TextSearch > QAbstractButton
{
    border-style:none;
}

TextSearch > QLineEdit
{
    border-style: inset;
    border-width: 1px;
    border-color: gray;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    min-height: 20px
}

QComboBox {
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    padding: 1px 23px 1px 3px;
    margin: 0px 0px 0px 0px;
}

QComboBox::drop-down
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(230, 230, 230), stop: 1.0 rgb(128, 128, 128));
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;

    border-left-color: gray;
    border-left-style: solid;
}

QComboBox::drop-down:pressed, QComboBox::drop-down:on
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgb(128, 128, 128), stop:1 rgb(230, 230, 230));
}

QComboBox::down-arrow
{
    image: url(:/down-arrow.svg) 8px 8px;
}

QToolButton#btnOpenSource
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgb(230, 230, 230), stop:1 rgb(128, 128, 128));
    border: 1px solid gray;
    border-left: none;
    border-top-right-radius: 10px;
    height: 17px;
    padding: 0px 0px 0px 0px;
    margin: 1px 0px 0px 0px;
}

QToolButton#btnOpenSource:pressed
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.26601 rgb(128, 128, 128), stop:1 rgb(200, 200, 200));
}

QMessageBox
{
    messagebox-question-icon: url(:/question.png);
}
